
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

body{
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	background-image: url(./img/fon.jpg);
	background-size: 1500px;
}


a{
	text-decoration: none;
    color:black;
    font-size: 1.4em;
    margin-top: 20px;
    text-align: center;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    padding-top:15px;
   margin-right: 25px;

}

.header{

	text-align: center;
	height: 50px;
	padding-top:10px;
	background-color: white;
	border-radius: 0 0 15px 15px;

}
.menu{
	margin-left: -450px;
	padding-top:10px;

}
a:hover{
	color:white;
	background-color: black;
	background-position: center;
    padding-top: 12.5px;
    padding-bottom:12.5px;
    }

.logo{

	width: 35px;
	height:35px;
	margin-left:15px;
	margin-top:-98px;
	text-align: center;
    transform: rotate(-7.5deg);
}

*{
	font-family: sans-serif;
}
h4{
	font-family: Qwigley ;
	font-size: 2.5em;
	letter-spacing: 2px;
}
/*
.content{
	display: flex;
	height: 600px;
	background: grey;
	margin-left: 13px;
	margin-right: 13px;
	border-radius: 15px;
	margin-bottom: 220px;
	margin-top:20px;
}*/
 .form{

 	text-align: center;
 }